---
import { Icon } from 'astro-icon/components';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-flex items-center gap-3 flex-wrap' } = Astro.props;
---

<div class={className}>
  <span class="font-bold text-slate-500">Share:</span>
  <button
    class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition"
    title="Twitter Share"
    data-aw-social-share="twitter"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-x"
      class="w-5 h-5 text-gray-500"
    />
  </button>
  <button
    class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition"
    title="Facebook Share"
    data-aw-social-share="facebook"
    data-aw-url={url}
    ><Icon
      name="tabler:brand-facebook"
      class="w-5 h-5 text-gray-500"
    />
  </button>
  <button
    class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition"
    title="Linkedin Share"
    data-aw-social-share="linkedin"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-linkedin"
      class="w-5 h-5 text-gray-500"
    />
  </button>
  <button
    class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition"
    title="Whatsapp Share"
    data-aw-social-share="whatsapp"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-whatsapp"
      class="w-5 h-5 text-gray-500"
    />
  </button>
  <button
    class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition"
    title="Email Share"
    data-aw-social-share="mail"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:mail"
      class="w-5 h-5 text-gray-500"
    />
  </button>
</div>
